:root {
    --rosewater: #f4dbd6;
    --flamingo: #f0c6c6;
    --pink: #f5bde6;
    --mauve: #c6a0f6;
    --red: #ed8796;
    --maroon: #ee99a0;
    --peach: #f5a97f;
    --yellow: #eed49f;
    --green: #a6da95;
    --teal: #8bd5ca;
    --sky: #91d7e3;
    --sapphire: #7dc4e4;
    --blue: #8aadf4;
    --lavender: #b7bdf8;
    --text: #cad3f5;
    --subtext1: #b8c0e0;
    --subtext0: #a5adcb;
    --overlay2: #939ab7;
    --overlay1: #8087a2;
    --overlay0: #6e738d;
    --surface2: #5b6078;
    --surface1: #494d64;
    --surface0: #363a4f;
    --base: #24273a;
    --mantle: rgba(30, 32, 48, 0.5);
    --crust: rgba(24, 25, 38, 0.5);
}

* {
    font-size: 18px;
    font-weight: 500;
    font-family: "FantasqueSansM Nerd Font Propo";
    color: var(--text);
    margin: 0;
    padding: 0;
}

.yasb-bar {
    padding: 0;
    margin: 0;
}

/* WIDGET */
.widget .label {
    padding: 0px 1px;
}
.widget .label.alt {
	padding: 1px 8px 1px 8px;
}
.active-window-widget {
    margin: 0;
    padding: 0 8px;
    border-radius: 15px;
    background-color: var(--base);
}
.container-left,
.container-center,
.container-right {
	margin: 0;
	padding: 0;
}

/* KOMOREBI */
.komorebi-workspaces {
    padding: 0 4px 0 8px;
    background-color: var(--base);
    border-radius: 15px;
}
.komorebi-workspaces .ws-btn {
    width: 12px;
    height: 12px;
    margin: 0 2px;
    background-color: var(--surface2);
    color: transparent;
}
.komorebi-workspaces .ws-btn:hover,
.komorebi-workspaces .ws-btn.populated:hover {
	background-color: var(--text);
}
.komorebi-workspaces .ws-btn.active {
    width: 26px;
    height: 12px;
    color: transparent;
    background-color: var(--green);
    border-radius: 5px;
}
.komorebi-active-layout {
    padding: 0 8px 0 4px;
}
.komorebi-active-layout .label {
    font-weight: bold;
    font-style: italic;
    color: var(--lavender);
}

/* APP WIDGETS */
.apps-widget {
    margin: 0 8px;
    padding: 0 8px;
    border-radius: 15px;
    background-color: var(--base);
}

/*POWER MENU WIDGET*/
/* Uptime text */
.uptime {
	font-size: 20px;
    font-style: italic;
	margin-bottom: 10px;
	color: var(--lavender);
}
.power-menu-widget {
    padding: 0 12px;
    background-color: var(--base);
    border-radius: 15px;
}
.power-menu-widget .label {
    color: var(--red);
    background-color: var(--base);
}
.power-menu-popup {
    border-radius: 15px;
}
.power-menu-popup .button {
    width: 240px;
    height: 120px;
    font-family: "SegoeUI";
    background-color: var(--base);
    border-color: transparent;
    border-radius: 15px;
}
.power-menu-popup .button.hover {
    background-color: var(--surface0);
    border: 1px solid var(--surface0);
}
.power-menu-popup .button .label {
	margin: 0 8px;
    padding: 0 8px;
    color: var(--subtext0);
    font-family: "FantasqueSansM Nerd Font Propo";
    font-size: 20px;
}
.power-menu-popup .button .icon {
	font-size: 43px;
	padding-top: 8px;
	color: var(--subtext0);
}
.power-menu-popup .button.cancel .icon, 
.power-menu-popup .button.cancel .label {
    color: var(--red);
}
.power-menu-popup .button.hibernate .icon,
.power-menu-popup .button.hibernate .label {
    color: var(--yellow);
}
.power-menu-popup .button.restart .icon,
.power-menu-popup .button.restart .label {
    color: var(--green);
}
.power-menu-popup .button.shutdown .icon,
.power-menu-popup .button.shutdown .label {
    color: var(--peach);
}
.power-menu-popup .button.signout .icon,
.power-menu-popup .button.signout .label {
    color: var(--pink);
}
.power-menu-popup .button.lock .icon,
.power-menu-popup .button.lock .label {
    color: var(--blue);
}

.volume-widget, .memory-widget, .disk-widget, .cpu-widget, .weather-widget {
    padding: 0 8px;
    background-color: var(--base);
}

.memory-widget {
    margin: 0 8px 0 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.volume-widget .icon,
.memory-widget .icon,
.disk-widget .icon,
.cpu-widget .icon,
.weather-widget.icon {
    margin: 0 2px 0 0;
}

.memory-widget .icon {
    color: var(--peach);
    font-size: 16px;
}
.cpu-widget .icon {
    color: var(--green);
    font-size: 16px;
}
.volume-widget .icon {
    font-size: 20px;
    padding: 0 2px 0 4px;
    color: var(--mauve);
}


/* WIFI WIDGET */
.wifi-widget {
    padding: 0 8px 0 12px;
    background-color: var(--base);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.wifi-widget .icon {
    color: var(--blue);
    font-size: 21px;
}

/* GITHUB WIDGET */
.github-widget {
    margin: 0;
    padding: 0;
    background-color: var(--base);
}
.github-widget .icon {
	color: var(--lavender);
}
.github-widget .icon.new-notification {
    color: var(--green);
}

/* CLOCK WIDGET */
.clock-widget {
    padding: 0 10px;
    border-radius: 15px;
    background-color: var(--base);
}

/* WEATHER WIDGET */
.weather-widget .icon {
    font-size: 21px;
    margin: 0 4px 0 2px;
    padding: 0 2px 0 4px;
}
.weather-widget .icon.sunnyDay {
    color: var(--yellow);
}
.weather-widget .icon.rainyDay,
.weather-widget .icon.rainyNight {
    color: var(--sapphire);
}
.weather-widget .icon.cloudyDay,
.weather-widget .icon.cloudyNight {
    color: var(--teal)
}
.weather-widget .icon.default {
    color: var(--green)
}
.weather-widget .icon.snowyIcyDay,
.weather-widget .icon.snowyIcyNight {
    color: var(--lavender)
}

/* MEDIA WIDGET */
.media-widget {
	padding: 0 8px;
    margin: 0 8px;
    background-color: var(--base);
    border-radius: 15px;
}
.media-widget .label {
    padding: 0 8px;
	background-color: transparent;
    color: var(--lavender);
    font-style: italic;
}
.media-widget .btn {
    padding: 0 3px 0 0;
	margin: 0;
    color: var(--subtext0);
    font-family: Segoe Fluent Icons;
}
.media-widget .btn.play {
	background-color: var(--mantle);
	border-radius: 15px;
}
.media-widget .btn:hover {
    color: var(--peach);
}
.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
	color: var(--surface1);
    background-color: transparent;
}