[am]
    threeWay = true
[alias]
    a = add
    aa = add --all
    cm = commit -m 
    co = checkout
    get = !git fetch --prune && git pull --rebase && git submodule update --init --recursive
    last = log -1 HEAD --stat
    lg = log --oneline --graph --decorate --date=short
    ll = log --graph --topo-order --date=short --abbrev-commit --decorate --all --boundary --pretty=format:'%Cblue%ad %C(auto)%h%Creset -%C(auto)%d%Creset %s %Cblue[%aN]%Creset %Cblue%G?%Creset'
    ls = ls-files
    ls-ignored = ls-files --ignored --others --exclude-standard
    m = merge
    st = status
    what = show --no-patch --pretty='tformat:%h (%s, %ad)' --date=short
    who = shortlog --summary --numbered --no-merges
[core]
    editor = code --wait
    longpaths = true
    pager = delta
[diff]
    tool = default-difftool
    colorMoved = default
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[delta]
    features = catppuccin-mocha
    side-by-side = true
    navigate = true
    true-color = always
    hyperlinks = true
    hyperlinks-file-link-format = "vscode://file/{path}:{line}"
[include]
    path = ~/.gitconfig-local
    path = ~/.config/delta/themes/themes.gitconfig
[interactive]
    diffFilter = delta --color-only
[help]
    autocorrect = -1
[log]
    abbrevCommit = true
    decorate = short
[merge]
    tool = code
    conflictstyle = zdiff3
[mergetool "code"]
    cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[pull]
    ff = only
[push]
    default = current
[rerere]
    enabled = true
    autoUpdate = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true