[am]
    threeWay = true
[core]
    editor = code --wait
    longpaths = true
    pager = delta
[diff]
    tool = default-difftool
    colorMoved = default
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[delta]
    features = catppuccin-mocha
    side-by-side = true
    navigate = true
    true-color = always
    hyperlinks = true
    hyperlinks-file-link-format = "vscode://file/{path}:{line}"
[include]
    path = ~/.gitconfig-local
    path = ~/.config/delta/themes/themes.gitconfig
[interactive]
    diffFilter = delta --color-only
[help]
    autocorrect = -1
[log]
    abbrevCommit = true
    decorate = short
[merge]
    tool = code
    conflictstyle = zdiff3
[mergetool "code"]
    cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[pull]
    ff = only
[push]
    default = current
[rerere]
    enabled = true
    autoUpdate = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
